<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# error
ErrorDocument 403 /index.php?m=Public&a=showError404
ErrorDocument 404 /index.php?m=Public&a=showError404
ErrorDocument 500 /index.php?m=Public&a=showError500
</IfModule>

<IfModule dir_module>
DirectoryIndex index.php index.html index.htm
</IfModule>